# Core
numpy
pandas
scikit-learn
joblib

# PyTorch for LSTM
torch
torchvision

# Visualization
matplotlib
seaborn

# Progress bars
tqdm

# Optional for transformers later
transformers

# Others
scapy

torch>=2.1.0
pandas>=2.0
numpy>=1.26
scikit-learn>=1.3
joblib>=1.3
tqdm>=4.66
matplotlib>=3.8
seaborn>=0.12
fastapi 

scapy  
 python-multipart